@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100..800&display=swap");

#content {
     margin-left: 20px;
}

body {
    font-family: "Anek Odia", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 900;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 18px;
}

select {
    font-weight: 400;
    font-size: 30px;
}

div.dropdown-box {
    text-align: center;
    height: fit-content;
    cursor: pointer;
}

.dropdown-box {
    border: solid black 1px;
}

.dropdown-info {
    border: solid black 1px;
    border-top: none;
    display: none;
}

.table-responsive {
    max-height:250px;
}

.border-2{
    border-width:2px !important;
}